[my="1"] {
	background-color:#99dfaa !important;
}

h1111 {
	font-size: 0.9em !important;
	margin: 1px 30% !important;
}
.ui-content {
padding: 0.4em !important;
}

.ui-mini {
    margin: 0 !important;;
}

#captionNewScan {
	padding-bottom: 0.4em;
	font-size: 0.7em;
}

